backend/venv
backend/app/api/__pycache__
backend/app/services/__pycache__
backend/app/__pycache__
backend/alembic/__pycache__
backend/alembic/versions/__pycache__
backend/alembic/versions
backend/uploads
backend/sample_data

sample_data